{% extends "layout.html" %}

{% block content %}

	{% if success %}
	<h1 style="color: green">Thank You!</h1>
		<p style="text-align: center">We've received your seating preferences.</p>
	{% else %}
	<h1>High Holiday Seating Preferences</h1>
	<img style="display: block; margin-left: auto; margin-right: auto"src="/static/img/logo.png">

		{% for message in form.name.errors %}
			<div class="flash">{{ message }}</div>
		{% endfor %}

		{% for message in form.email.errors %}
			<div class="flash">{{ message }}</div>
		{% endfor %}

		{% for message in form.membership.errors %}
			<div class="flash">{{ message }}</div>
		{% endfor %}


		<form action="{{ url_for('contact') }}" method=post>
			{{ form.hidden_tag() }}

			{{ form.name.label }}
			{{ form.name }}

			{{ form.email.label }}
			{{ form.email }}

			{{ form.phone.label }}
			{{ form.phone }}


			<p>Please indicate the name of each person who needs a seat (including yourself), and check the box next to the name of each person who is an Associate member or non-member.</p>

			<h3>Men's Section</h3>
			<hr class="fancy-line"></hr>

			{{ form.mname1.label }}
			{{ form.mname1 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.mg1 }}
			</div>

			{{ form.mname2.label }}
			{{ form.mname2 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.mg2 }}
			</div>

			{{ form.mname3.label }}
			{{ form.mname3 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.mg3 }}
			</div>

			{{ form.mname4.label }}
			{{ form.mname4 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.mg4 }}
			</div>

			{{ form.mname5.label }}
			{{ form.mname5 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.mg5 }}
			</div>


			<h3>Women's Section</h3>
			<hr class="fancy-line"></hr>

			{{ form.wname1.label }}
			{{ form.wname1 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.wg1 }}
			</div>

			{{ form.wname2.label }}
			{{ form.wname2 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.wg2 }}
			</div>

			{{ form.wname3.label }}
			{{ form.wname3 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.wg3 }}
			</div>

			{{ form.wname4.label }}
			{{ form.wname4 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.wg4 }}
			</div>

			{{ form.wname5.label }}
			{{ form.wname5 }}
			<div style="display: inline-block; margin-left: 30px">
				Associate or Non-Member? {{ form.wg5 }}
			</div>

			<h3>Membership Category</h3>
			<hr class="fancy-line"></hr>


			<p>Please indicate your membership category (required):</p>
			<table>
			{% for subfield in form.membership %}
				<tr>
					<td>
						<tr>
							<td>{{ subfield.label }}</td>
							<td>{{ subfield }}</td>
						</tr>
					</td>
				</tr>
			{% endfor %}
			</table>

			<h3>Seats</h3>
			<hr class="fancy-line"></hr>

			{{ form.same_seats.label }}
			{{ form.same_seats }}

			<p>If you are requesting seats for the first time or if you would like different seats than last year, please make a note of your preferences in the comments section.</p>


			{{ form.comments.label }}
			{{ form.comments }}

			{{ form.submit }}

		</form>
		
	{% endif %}
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27459828-2', 'herokuapp.com');
    ga('send', 'pageview');
    </script>
{% endblock %}