<!DOCTYPE html>
<html>
	<head>
		<title>Shaare Torah Seating</title>
		<link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
	</head>
	<body>
	<div class="ribbon-wrapper-green"><div class="ribbon-green">BETA</div></div>

<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
  <a href="{{ url_for('home') }}">Home <img style="float: right" height="25px" width="25px" src="/static/img/home.png"></a>
  <a href="{{ url_for('about') }}">About <img style="float: right" height="25px" width="25px" src="/static/img/info.png"></a>
  <a href="{{ url_for('contact') }}">Form <img style="float: right" height="25px" width="25px" src="/static/img/form.png"></a>
</nav>

<div class="page-wrap">

  <header class="main-header">
    <label for="main-nav-check" class="toggle-menu">
      <img height="45px" width="55px" src="/static/img/menu.png" alt="nav">
    </label>
    
  </header>
  
  <div class="content">
  

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>

	</body>
</html>
